* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00adb5;
}


.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("https://www.hdwallpapers.in/download/aerial_view_of_aqua_waves_rolling_onto_soft_golden_sand_creating_white_foamy_patterns_at_the_shore_hd_beach-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #ffffff;
}


.home span {
    color: #00adb5;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00adb5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


section {
    padding: 60px 20px;
    text-align: center;
}

.about,
.contact {
    background: #fafafa;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
}


